In [10]:
import pandas as pd

In [11]:
# メルボルンの住宅価格データ
melbourne_file_path = '../input/melbourne-housing-snapshot/melb_data.csv'

melbourne_data = pd.read_csv(melbourne_file_path)

melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [20]:
import pandas as pd

iowa_file_path = '../input/home-data-for-ml-course/train.csv'

# CSV を pandas で読み込むコード
home_data = pd.read_csv(iowa_file_path)

home_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [ ]:
# 次の行に要約統計を印刷する

In [ ]:
import datetime

# 平均ロットサイズはいくらですか（最も近い整数に丸められます）？
avg_lot_size = round(home_data['LotArea'].mean())

# 今日現在、最も新しい家は何年ですか（現在の年 - 建てられた日）
current_year = datetime.datetime.now().year
newest_year = home_data['YearBuilt'].max()

newest_home_age = current_year - newest_year

In [ ]:
import pandas as pd

melbourne_file_path = '../input/melbourne-housing-snapshot/melb_data.csv'

# 変数/列を選択するには、データセット内のすべての列のリストを確認する必要があります。
melbourne_data = pd.read_csv(melbourne_file_path)
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [24]:
# dropna は欠損値を削除します（na は「利用不可」を意味します）。
melbourne_data = melbourne_data.dropna(axis=0)
print(melbourne_data)

             Suburb          Address  Rooms Type      Price Method  \
1        Abbotsford  25 Bloomburg St      2    h  1035000.0      S
2        Abbotsford     5 Charles St      3    h  1465000.0     SP
4        Abbotsford      55a Park St      4    h  1600000.0     VB
6        Abbotsford     124 Yarra St      3    h  1876000.0      S
7        Abbotsford    98 Charles St      2    h  1636000.0      S
...             ...              ...    ...  ...        ...    ...
12205    Whittlesea    30 Sherwin St      3    h   601000.0      S
12206  Williamstown      75 Cecil St      3    h  1050000.0     VB
12207  Williamstown    2/29 Dover Rd      1    u   385000.0     SP
12209       Windsor  201/152 Peel St      2    u   560000.0     PI
12212    Yarraville  54 Pentland Pde      6    h  2450000.0     VB

             SellerG        Date  Distance  Postcode  ...  Bathroom  Car  \
1             Biggin   4/02/2016       2.5    3067.0  ...       1.0  0.0
2             Biggin   4/03/2017       2.5    3067.0  ...       2.0  0.0
4             Nelson   4/06/2016       2.5    3067.0  ...       1.0  2.0
6             Nelson   7/05/2016       2.5    3067.0  ...       2.0  0.0
7             Nelson   8/10/2016       2.5    3067.0  ...       1.0  2.0
...              ...         ...       ...       ...  ...       ...  ...
12205            Ray  29/07/2017      35.5    3757.0  ...       2.0  1.0
12206       Williams  29/07/2017       6.8    3016.0  ...       1.0  0.0
12207       Williams  29/07/2017       6.8    3016.0  ...       1.0  1.0
12209  hockingstuart  29/07/2017       4.6    3181.0  ...       1.0  1.0
12212        Village  29/07/2017       6.3    3013.0  ...       3.0  2.0

       Landsize  BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
1         156.0         79.00     1900.0        Yarra -37.80790   144.99340
2         134.0        150.00     1900.0        Yarra -37.80930   144.99440
4         120.0        142.00     2014.0        Yarra -37.80720   144.99410
6         245.0        210.00     1910.0        Yarra -37.80240   144.99930
7         256.0        107.00     1890.0        Yarra -37.80600   144.99540
...         ...           ...        ...          ...       ...         ...
12205     972.0        149.00     1996.0   Whittlesea -37.51232   145.13282
12206     179.0        115.00     1890.0  Hobsons Bay -37.86558   144.90474
12207       0.0         35.64     1967.0  Hobsons Bay -37.85588   144.89936
12209       0.0         61.60     2012.0  Stonnington -37.85581   144.99025
12212    1087.0        388.50     1920.0  Maribyrnong -37.81038   144.89389

                  Regionname Propertycount
1      Northern Metropolitan        4019.0
2      Northern Metropolitan        4019.0
4      Northern Metropolitan        4019.0
6      Northern Metropolitan        4019.0
7      Northern Metropolitan        4019.0
...                      ...           ...
12205      Northern Victoria        2170.0
12206   Western Metropolitan        6380.0
12207   Western Metropolitan        6380.0
12209  Southern Metropolitan        4380.0
12212   Western Metropolitan        6543.0

[6196 rows x 21 columns]

In [25]:
# ドット記法を使って予測したい列を選択します。
# これを予測対象と呼びます。
# 慣例的に、予測対象はyと呼ばれます。

y = melbourne_data.Price
print(y)

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

In [26]:
# 複数の特徴量を選択するには、括弧で囲んだ列名のリストを指定します。

melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
print(melbourne_features)

['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [27]:
# 慣例により、このデータは X と呼ばれます。

x = melbourne_data[melbourne_features]
print(x)

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
1          2       1.0     156.0  -37.80790   144.99340
2          3       2.0     134.0  -37.80930   144.99440
4          4       1.0     120.0  -37.80720   144.99410
6          3       2.0     245.0  -37.80240   144.99930
7          2       1.0     256.0  -37.80600   144.99540
...      ...       ...       ...        ...         ...
12205      3       2.0     972.0  -37.51232   145.13282
12206      3       1.0     179.0  -37.86558   144.90474
12207      1       1.0       0.0  -37.85588   144.89936
12209      2       1.0       0.0  -37.85581   144.99025
12212      6       3.0    1087.0  -37.81038   144.89389

[6196 rows x 5 columns]